


html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 10px;
  background: yellow;
  font-family: 'Open Sans', sans-serif;
}

#info{
  height: 8rem;
  background: red;
  display: block;
  
}

#date{
  display: block;
  float: right;
  background: yellow;
  width: 50%;
  height: 100%;
  font-size: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#place{
  display: block;
  float: left;
  background: yellow;
  width: 50%;
  height: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

  #city{
    font-size: 4rem;
  }
  #forecast_name{
    font-size: 2rem;
    overflow: hidden;
    width: 100%;
    color:red;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

#today{
  display: block;
  height: -moz-calc(100% - 18rem);
  height: -webkit-calc(100% - 18rem);
  background: blue;
}

#tomorrow{
  display: block;
  height: 10rem;
  background: #f0f0f0 ;
  
}
